<div class="mb-3">
    <label for="newDate" class="form-label">Dátum</label>
    <input type="date" class="form-control" id="newDate">
</div>
<div class="mb-3">
    <label for="newType" class="form-label">Típus</label>
    <input type="text" class="form-control" id="newType" placeholder="Pl.: Esős">
</div>
<div class="mb-3">
    <label for="newMin" class="form-label">Min. Hőmérséklet</label>
    <input type="number" class="form-control" id="newMin" max="55" min="-30">

    <label for="newMax" class="form-label">Max. Hőmérséklet</label>
    <input type="number" class="form-control" id="newMax" max="55" min="-30">

</div>
<div class="mb-3">
</div>


<button class="btn btn-secondary col mb-3 mt-2" onclick="addNewWeather()">Regisztráció</button>



<hr>

<table class="table">
    <thead class="text-end" id="tableHead">
        <tr>
            <td>#</td>
            <td>Időpont</td>
            <td>Típus</td>
            <td>Min. hőmérséklet</td>
            <td>Max. hőmérséklet</td>
        </tr>
    </thead>
    <tbody id="weathersTable"></tbody>
    <tfoot></tfoot>

</table>