<div class="mb-3">
    <label for="newDate" class="form-label">Név</label>
    <input type="email" class="form-control" id="newDatee" placeholder="Gipsz Jakab">
</div>
<div class="mb-3">
    <label for="newType" class="form-label">Email cím</label>
    <input type="email" class="form-control" id="newType" placeholder="teszt@teszt.hu">
</div>
<div class="mb-3">
    <label for="newMin" class="form-label">Jelszó</label>
    <input type="password" class="form-control" id="newMin" >
</div>
<div class="mb-3">
    <label for="newMax" class="form-label">Jelszó újra</label>
    <input type="password" class="form-control" id="newMax">
</div>


<button class="btn btn-secondary col mb-3 mt-2" onclick="WeatherRegistration()">Regisztráció</button>