<div class="mb-3">
    <label for="newDate" class="form-label">Dátum</label>
    <input type="date" class="form-control" id="newDatee">
</div>
<div class="mb-3">
    <label for="newType" class="form-label">Típus</label>
    <input type="text" class="form-control" id="newType" placeholder="Pl.: Esős">
</div>
<div class="mb-3">
    <label for="newMin" class="form-label">Min. Hőmérséklet</label>
    <input type="number" class="form-control" id="newMin" >

    <label for="newMax" class="form-label">Max. Hőmérséklet</label>
    <input type="number" class="form-control" id="newMax">

</div>
<div class="mb-3">
</div>


<button class="btn btn-secondary col mb-3 mt-2" onclick="WeatherRegistration()">Regisztráció</button>