<div class="profileBanner">
    <div class="dataField">
        <p class="profileName col-sm-4 col-lg-4"><strong>Név</strong></p>
        <input type="text" id="profileName" class="form-control col-sm-8" readonly>
    </div>
    <div class="dataField">
        <p class="profileEmail col-sm-4 col-lg-4"><strong>E-mail</strong></p>
        <input type="email" id="profileEmail" class="form-control col-sm-8"  readonly>
    </div>
    <div class="dataField">
        <p class="profilePassword col-sm-4 col-lg-4"><strong>Jelszó</strong></p>
        <input type="password" id="profilePassword" class="form-control col-sm-8" readonly>
    </div>
</div>