<div class="mb-3">
    <label for="loginName" class="form-label">Név</label>
    <input type="email" class="form-control" id="registrationName" placeholder="Gipsz Jakab">
</div>
<div class="mb-3">
    <label for="loginEmail" class="form-label">Email cím</label>
    <input type="email" class="form-control" id="registrationEmail" placeholder="teszt@teszt.hu">
</div>
<div class="mb-3">
    <label for="loginPassword" class="form-label">Jelszó</label>
    <input type="password" class="form-control" id="registrationPassword">
</div>
<div class="mb-3">
    <label for="loginPassword" class="form-label">Jelszó újra</label>
    <input type="password" class="form-control" id="registrationPasswordAgain">
</div>


<button class="btn btn-secondary col mb-3 mt-2">Regisztráció</button>